{% extends "layout.html" %}

{% block content %}



<div class="container-fluid">
    <h1 class="mt-4">Open PRs</h1>
    <br>
    {% include "includes/dropdown_names.html" %}
    <br>
    <br>

    {% for pr_name, prs in gh_pr.items() %}
    <p style="font-weight: bold;">
        {{ pr_name.upper() }}
    </p>

    {% if prs %}
    
    <ul id="pr_list">
        {% for pr in prs %}
        <li>
            <a href="{{ pr.html_url }}" target="_blank">
                PR#{{ pr.number }}
            </a>
            {{ pr.title }}
            ({{ pr.user.login}})
            from {{ pr.created_at}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endfor %}

</div>

{% endblock %}