{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Access & Management team repos:</h1>
    <h3>GitHub</h3>
    <div class="row">
        {% for repo in github_data %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">{{repo.name.upper()}}</div>
            <div class="card-body">

                <a href="{{ repo.repo_link }}" target="_blank" class="card-link">
                    GH link
                </a>
                <br>

                {% if repo.image_link %}

                {% if repo.image_link is string %}
                <a href="{{ repo.image_link }}" target="_blank" class="card-link">
                    Quay link
                </a>
                <br>
                
                {% elif repo.image_link is iterable %}

                {% for link in repo.image_link %}
                <a href="{{ link }}" target="_blank">
                    Quay-{{ link.split("/")[-1].split("?")[0].split("-")[-1] }}
                </a>
                &nbsp;

                {% endfor %}
                <br>

                {% endif %}
                {% endif %}


                {% if repo.confluence_link %}
                <a href="{{ repo.confluence_link }}" target="_blank" class="card-link">
                    Docs
                </a>
                <br>
                
                {% endif %}

                {% if repo.app_interface_link %}
                <a href="{{ repo.app_interface_link }}" target="_blank" class="card-link">
                    app-interface
                </a>
                {% endif %}
            </div>


        </div>
        {% endfor %}
    </div>

    <h3>GitLab</h3>
    <div class="row">
        {% for repo in gitlab_data %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">{{repo.name.upper()}}</div>
            <div class="card-body">

                <a href="{{ repo.repo_link }}" target="_blank" class="card-link">
                    GH link
                </a>
                <br>

                {% if repo.image_link %}

                <a href="{{ repo.image_link }}" target="_blank" class="card-link">
                    Quay link
                </a>
                <br>

                {% endif %}


                {% if repo.confluence_link %}
                <a href="{{ repo.confluence_link }}" target="_blank" class="card-link">
                    Docs
                </a>
                <br>
                
                {% endif %}
            </div>


        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}