{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1>
        Release notes for {{ data.name }}
    </h1>
    <div>
        <h3>
            Links:
        </h3>
        <ul>
            <li>
                Repo: <a href="{{ data.link }}" target="_blank">{{ data.link.split("/")[-1] }}</a>
            </li>
            <li>
                Image: <a href="{{ additional_data.image_link }}" target="_blank">{{ additional_data.image_link.split("/")[-1].split("?")[0] }}</a>
            </li>
            <li>
                Docs: <a href="{{ additional_data.confluence_link }}" target="_blank">confluence A&M</a>
            </li>
            <li>
                App-interface: <a href="{{ additional_data.app_interface_link }}" target="_blank">{{ "/".join(additional_data.app_interface_link.split("/")[-4:]) }}</a>
            </li>
            <li>
                Release docs: 
                <a href="https://docs.engineering.redhat.com/x/XbDvFQ" target="_blank">dashboard</a>
                {% if additional_data.release_process_docs %}
                &bull;
                <a href="{{ additional_data.release_process_docs }}" target="_blank"> docs for {{ data.name}}</a>
                {% endif %}
                {% if additional_data.release_notes %}
                &bull;
                <a href="{{ additional_data.release_notes }}" target="_blank">notes (G drive)</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <div>
        <h3>
            Current status:
        </h3>
        <div>
            Last prod release:
            <a href="{{ data.release_production_mr_url }}">
                MR#{{ data.release_production_mr_url.split("/")[-1] }}
            </a> 
            merged on {{ data.date_release_production }} by {{ data.release_author }}<br>

            {% if data.commit_stage == data_commit_master %}
            last commit SHA on the {{ data.main_branch }} branch: {{ data.commit_master }}
            {% endif %}
            <div>
                Production commit: <code> {{ data.commit_production[:7] }} </code>
                <span id="commit-sha-production" hidden>{{ data.commit_production}}</span>
                <button type="button" class="btn btn-outline-primary btn-xs" style="padding: 0;" onclick="copyToClipboard('commit-sha-production')">Copy</button>
            </div>
            <div>
                Stage commit: <code> {{ data.commit_stage[:7] }} </code>
                <span id="commit-sha-stage" hidden>{{ data.commit_stage}}</span>
                <button type="button" class="btn btn-outline-primary btn-xs" style="padding: 0;" onclick="copyToClipboard('commit-sha-stage')">Copy</button>
            </div>

            {% if data.commit_stage == data_commit_master %}
            <div>
                last commit on the {{ data.main_branch }} branch: {{ data.commit_master[:7] }}
                <span id="commit-sha-master" hidden>{{ data.commit_master}}</span>
                <button type="button" class="btn btn-outline-primary btn-xs" style="padding: 0;" onclick="copyToClipboard('commit-sha-master')">Copy</button>
            </div>
            {% endif %}

            Days without release: {{ data.days_without_release }} <br>
            PRs waiting for prod release: {{ data.list_of_pr|count }} <br>
            All PRs with QE status "passed" or "N/A": 
            {% if data.all_passed %}
            <span style="color: darkgreen;">Yes</span> 
            {% else %}
            <span style="color: crimson;">No</span> 
            {% endif %}

        </div>
    </div>
    <div>
        <h3>Scope / Status: </h3>
        <p>PRs and related Jiras in scope with QE status.</p>
        <div>
            <ul id="pr_list">
                {% for pr in data.list_of_pr %}
                <li>
                    <a href="{{ pr.link }}" , target="blank">PR#{{ pr.link.split("/")[-1] }}</a>
                    {{ pr.title }}
                    ({{ pr.pr_author }})
                    merged {{ pr.merge_date }}

                    {% if pr.jira_tickets %}

                    <ul>
                        {% for ticket in pr.jira_tickets %}
                        <li>
                            <a href="{{ ticket.link }}" , target="blank">{{ ticket.name }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    {% endif %}

                    <ul>
                        <li>
                            QE status: 
                            {% if pr.qe_status %}
                                {{ pr.qe_status }}
                                {% if pr.qe_note %}
                                    : {{ pr.qe_note}}
                                {% endif %}
                                ({{ pr.qe_author }})
                            {% endif %}
                        </li>
                    </ul>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



{% endblock %}