{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Services</h1>
    <br>
    {% if not services %}
    <h3>No data to display. </h3>
    {% else %}

    {% include "includes/dropdown_names.html" %}
    <br>
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Repo</th>
                <th scope="col">Link</th>
                <th scope="col">Master/Main</th>
                <th scope="col">Stage</th>
                <th scope="col">Prod</th>
                <th scope="col">Stats</th>
                <th scope="col">QE</th>
            </tr>
        </thead>
        <tbody>

            {% for repo in services %}

            {% include "services/main_row.html" %}

            {% include "services/additional_info.html" %}

            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}