{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Deployments</h1>
    <br>
    {% if not deployments %}
    <h3>No data to display. </h3>
    {% else %}

    Select PR author:
    {% include "includes/dropdown_names.html" %}
    <br>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Deployment</th>
            <th scope="col">Repo link</th>
            <th scope="col">Master/Main</th>
            <th scope="col">Stage</th>
            <th scope="col">Prod</th>
            <th scope="col">Stats</th>
            <th scope="col">QE Jenkins</th>
        </tr>
        </thead>
        <tbody>

        {% for repo in deployments %}

        {% include "deployments/main_row.html" %}

        {% include "deployments/additional_info.html" %}

        {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/main_row.js') }}"></script>
{% endblock %}