.hidden-info {
    display: none;
  }

tr.hide-table-padding td {
  padding: 0;
  }

.name-highlight {
  background-color: #BDCDD6;
  font-weight: bold;

}

.card-equal-height {
  display: flex;
  flex-direction: column;
}

.card-equal-height .card-body {
  flex-grow: 1;
}

.card {
  margin: 10px;
}
