<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="../../static/favicon.ico" alt="Platform ACcess and MANagement team">
        A & M team</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('overview') }}">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('repos') }}">Repos</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('open_pr') }}">Open PR</a>
    </div>
</div>